<div style="display: flex !important; justify-content: space-between; align-items:center !important;">
    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"
            style="margin-right: 10px;"></mat-icon>
        <mat-icon style="margin-right: 10px;">accessible</mat-icon>
    </div>
    <div style="text-align: center;">
        <img src="../../assets/לוגו.PNG" style="width: 100px;">
    </div>
    <div>
        <p style="font-weight: bold;">עברית</p>
        <p>English</p>
    </div>
</div>